In [14]:
import pandas as pd


# Load Dataset
data_frame = pd.read_table('dataset/SMSSpamCollection', sep='\t', header=None, names = ['label', 'message'])

# Print dataset
data_frame.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [15]:
# Change categorical label to numerical label
data_frame['label'] = data_frame.label.map({'ham': 0, 'spam': 1})
print(data_frame.shape)
data_frame.head()

(5572, 2)

   label                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...